header {
    line-height: 1.15;
    margin: 0 auto;

    h1, h2 {
        font-family: $gupter;
    }

    .banner {
        color: $blue;
        padding: 1rem;
    
        .menu {
            height: 100%;
        }

    }

    .sideNav {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        color: $white;
        background-color: $blue;
        opacity: 0.98;
        /*disables horizontal scroll*/
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.2s;
        font-family: $gupter;

        li {
            list-style-type: none;
            font-size: 1.5rem;
            line-height: 2.3;
            a {
                color: $white;
                text-decoration: none;
                font-weight: 500;

                i {
                    color: $white;
                }
            }

            a:hover {
                text-decoration: underline;
            }

            a:active {
                text-decoration: underline;
            }
        }
    }

    h1 {
        font-weight: 500;
        font-size: 3rem;
        padding-bottom: 1.5rem;
        padding-top: 2rem;
        color: $blue;
    }

    h2 {
        font-size: 1.75rem;
        margin-bottom: 1.75rem;
        padding-right: 2rem;
        color: $black;
    }

    div.myPhoto {
        width: 270px;
        margin: 3rem 1rem 2rem 2rem;
        float: right;

        @media(max-width: 375px) {
            width: 250px;
            margin-top: 2rem;
        }
        @media(min-width: 750px) {
            width: 325px;
        }

        img {
            max-width: 100%;
        }
    }
}