.samples {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .subheading {
        padding-bottom: 2rem;
        color: $blue;
    }

    .project {
        padding-bottom: 4rem;

        .video-container {
            overflow: hidden;
            position: relative;
            width:100%;
        }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .video-container::after {
            padding-top: 56.25%;
            display: block;
            content: '';
        }

        .description {
            padding-bottom: 1.5rem;
            margin: 0 auto;
            @media(min-width: 750px) {
                max-width: 650px;
            }

            .highlight {
                color: $maroon;
                text-decoration: none;
            }

            .highlight:hover {
                text-decoration: underline;
                color: $blue;
            }

            .tools {
                font-size: 0.9rem;
                font-weight: bold;
                margin-bottom: 1rem;
                @media(min-width: 510px) {
                    margin-top: 0.5rem;
                    font-size: 1rem;
                    text-align: center;
                }
            }
            
            .links {
                text-align: center;
                .button {
                    color: $maroon;
                    padding: 8px 16px;
                    font-weight: 500;
                    margin-right: 2%;
                }
                
                .button:hover {
                    background: $maroon;
                    color: $white;
                    text-decoration: none;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
        }

    }
}