@import './partials/setups';
@import './partials/variables';
@import './mediaqueries';
@import './partials/header';
@import './partials/about';
@import './partials/toolkit';
@import './partials/samples';
@import './partials/contact';

// using live sass vscode extension



body {
    background-color: $white;
    color: $black;
    font-family: $bodyText;
    font-size: 1rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .wrapper {
        margin: 1rem 2rem;
    }
}

h3 {
    padding-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}


.subheading {
    font-size: 1.6rem;
    font-family: $gupter;
    text-align: center;
}


footer {
    // margin-top: 60px;
    background: $blue;
    color: $white;
    font-size: 0.9rem;
    padding: 0.8rem;
    text-align: center;
}